<nav
  md-tab-nav-bar>
  <a
    md-tab-link
    routerLinkActive #quakeActive="routerLinkActive"
    [active]="quakeActive.isActive"
    routerLink="/quakes">Quakes</a>
  <a
    md-tab-link
    routerLinkActive #eventsActive="routerLinkActive"
    [active]="eventsActive.isActive"
    routerLink="/events">Events</a>
  <a 
    md-tab-link
    routerLinkActive #realTime="routerLinkActive"
    [active]="realTime.isActive"
    routerLink="/real-time-quakes">All</a>

  <div
    *ngIf="loggedIn">
    <button
      md-button
      (click)="logout()">Logout</button>
  </div>
  
</nav>
<router-outlet></router-outlet>