 <!--<input 
    type="text" 
    [formControl]="mmiValue">-->
<h2
  class="md-display-3">
  Recent quakes in New Zealand
</h2>

<md-slider
  min="1" 
  max="8" 
  step="1"
  [value]="mmiValue"
  thumbLabel
  tickInterval="auto"
  (change)="mmiValueOnChange($event)"></md-slider>

<md-card
  *ngFor="let v of quakes | async">
  <md-card-title>Magnitude: {{ v.properties.magnitude | number: '1.2-2' }}</md-card-title>
  <md-card-subtitle>{{ v.properties.locality }}</md-card-subtitle>
  <md-card-content>
    <p>{{ v.properties.time | date: 'short' }}</p>
    <!--<p>{{ v.properties.mmi }}</p>-->
  </md-card-content>
  <md-card-actions 
    align="end">
      <button
        md-raised-button
        color="primary"
        (click)="feltIt(v.properties)">I Felt It</button>
      <button
        md-raised-button
        (click)="shareIt()">Share</button>
    </md-card-actions>
</md-card>