 <!--<input 
    type="text" 
    [formControl]="mmiValue">-->

<md-slider
  min="1" 
  max="8" 
  step="1"
  [value]="mmiValue" 
  (change)="mmiValueOnChange($event)"></md-slider>

<md-card
  *ngFor="let v of quakes | async">
  <md-card-title>{{ v.properties.magnitude }}</md-card-title>
  <md-card-subtitle>{{ v.properties.locality }}</md-card-subtitle>
  <md-card-content>
    <p>{{ v.properties.time }}</p>
    <p>{{ v.properties.mmi }}</p>
  </md-card-content>
  <md-card-actions 
    align="end">
      <button 
        (click)="feltIt(v.properties.publicID)">I Felt It</button>
      <button 
        (click)="shareIt()">Share</button>
    </md-card-actions>
</md-card>